<div>
    <div class="row">
        <div class="col-md-6">
            <h3>Meetings</h3>
            <p>To get calendar invites for our meetings, please subscribe to the <a href="https://groups.google.com/forum/#!forum/minikube-dev">minikube-dev mailing list</a>.</p>
            <ul>
                <li><a href="https://tinyurl.com/minikube-oh"><strong>Office Hours:</strong></a> Bi-weekly office hours, Mondays @ 11am PST.</li>
                <li><a href="https://minikube.sigs.k8s.io/docs/contrib/triage/"><strong>Triage Party:</strong></a> All community members are welcome and encouraged to join us.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Community</h3>
            <p>Join the conversation and ask questions in our community channels.</p>
            <ul>
                <li><a href="https://kubernetes.slack.com/messages/C1F5CT6Q1"><strong>Slack:</strong></a> #minikube channel on Kubernetes Slack.</li>
                <li><a href="https://communityinviter.com/apps/kubernetes/community"><strong>Slack Invitation:</strong></a> Get your invite to the Kubernetes Slack.</li>
            </ul>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
         <div class="col-md-12">
            <h3>Contributing</h3>
            <p>minikube is a Kubernetes <a href="https://github.com/kubernetes/community/tree/master/sig-cluster-lifecycle">#sig-cluster-lifecycle</a> project. Development takes place on <a href="https://github.com/kubernetes/minikube">GitHub</a>. Check out our <a href="https://minikube.sigs.k8s.io/docs/contrib/">Contributing Guide</a> to get started.</p>
        </div>
    </div>
</div>
